<h1>About me</h1>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body profile-box">
        <%= image_tag('profile.jpg', alt: 'Tiago Sciencia') %>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <h2>Tiago Sciencia</h2>
        <hr />
        <ul class="list-unstyled">
          <li><i class="fa fa-code"></i> - A passionate developer</li>
          <li><i class="fa fa-map-marker"></i> - São Paulo, Brazil</li>
          <li><i class="fa fa-thumbs-o-up"></i> - C#, .NET, ASP.NET MVC, WEP API, HTML, CSS, JS, RUBY ON RAILS</li>
          <li><i class="fa fa-heart"></i> - Music, books, beer, tech, sports, travel (not necessarily in that order)
          </li>
        </ul>
        <hr />
        <a href="https://github.com/tisciencia" target="_blank" class="btn btn-default" title="Github - Tiago Sciencia">
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/tisciencia" target="_blank" class="btn btn-default" title="Facebook - Tiago Sciencia">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a href="https://twitter.com/_caco" target="_blank" class="btn btn-default" title="Twitter - Tiago Sciencia">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/profile/view?id=94664091" target="_blank" class="btn btn-default" title="Linkedin - Tiago Sciencia">
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>

