<h1>About me</h1>

<div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><i class="fa fa-code"></i> A passionate developer</li>
      <li><i class="fa fa-map-marker"></i> São Paulo, Brazil</li>
      <li><i class="fa fa-thumbs-o-up"></i> C#, .NET, ASP.NET MVC, WEP API, HTML, CSS, JS, RUBY ON RAILS</li>
      <li><i class="fa fa-heart"></i> Music, books, beer, tech, sports, travel, music (not necessarily in that order)</li>
    </ul>
  </div>
</div>
