<article class="post">
  <header>
    <h1><%= @post.title %></h1>

    <p>
      <strong>
        Created by: Tiago Sciência
        <span>|</span>
        Published:
        <time pubdate="pubdate"><%= time_ago_in_words(@post.created_at) %></time>
      </strong>
    </p>
  </header>
  <p>
    <%= raw @post.content %>
  </p>
  <footer>
    <p>
      <% @post.tags.each do |tag| %>
          <%= render tag %></span>
      <% end %>
    </p>
  </footer>
</article>